# Environment
ENVIRONMENT="DEV"
UVICORN_LOG_LEVEL="debug"
FASTAPI_LOG_LEVEL="info"

# API
ORIGINS='["http://localhost:5173", "https://localhost:5173"]'

# Administration
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="secret"
ADMIN_EMAIL="admin@email.com"

#JWT
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Secrets
SECRET_KEY="27753cf5b3bb3e2023726c4a28a4c7685507db0a1557be7ffdac045f4ca1d913"
ALGORITHM="HS256"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
# GOOGLE_REDIRECT_URI_PATH=""

# Apple OAuth
APPLE_CLIENT_ID=""
APPLE_TEAM_ID=""
APPLE_KEY_ID=""
APPLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_CONTENT_HERE\n-----END PRIVATE KEY-----"
# APPLE_REDIRECT_URI_PATH=""

# Postgres
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="postgres"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_ECHO="False"
